aiohttp==3.8.5
aiosignal==1.3.1
anyio==3.7.1
APScheduler==3.10.1
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
emoji==2.7.0
frozenlist==1.4.0
geojson==2.5.0
greenlet==2.0.2
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.4
multicolorcaptcha==1.2.0
multidict==6.0.4
Pillow==10.0.0
psutil==5.9.5
pyowm==3.3.0
PySocks==1.7.1
python-telegram-bot==20.4
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
sniffio==1.3.0
speedtest-cli==2.1.3
SQLAlchemy==2.0.19
SQLAlchemy-Utils==0.41.1
typing_extensions==4.7.1
tzlocal==5.0.1
urllib3==2.0.4
yarl==1.9.2